"*":
  "atom-beautify":
    _analyticsUserId: "64a4cd53-31ef-4f18-b63c-a2fff1f0f9dc"
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    excludeVcsIgnoredPaths: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      "_ci/*"
      "_site/*"
      "aas/*"
      "build/*"
      "demo/*"
      "dist/*"
      "docker/*"
      "gradle/*"
      "node_binaries/*"
      "node_modules/*"
      "node_shrinkwrap/*"
      "war_resources/*"
    ]
    projectHome: "~/Projects/"
  editor:
    fontFamily: "Hack"
    fontSize: 18
    invisibles: {}
    lineHeight: 2
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "language-babel":
    autoIndentJSX: true
  linter: {}
  minimap:
    plugins:
      "highlight-selected": true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
