"*":
  "atom-alignment":
    alignBy: [
      "=>"
      ":="
      ":"
      "="
      "from"
    ]
  "atom-beautify":
    general:
      _analyticsUserId: "64a4cd53-31ef-4f18-b63c-a2fff1f0f9dc"
    jsx: {}
  "auto-update-packages": {}
  "autocomplete-modules": {}
  "autocomplete-plus": {}
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "language-javascript"
      "language-json"
      "welcome"
      "spell-check"
      "open-on-github"
      "link"
      "language-toml"
      "language-python"
      "language-ruby-on-rails"
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-mustache"
      "language-less"
      "language-java"
      "language-hyperlink"
      "language-go"
      "language-csharp"
      "language-clojure"
      "language-c"
      "bookmarks"
      "background-tips"
    ]
    excludeVcsIgnoredPaths: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".git/*"
      ".tmp/*"
      "aas/*"
      "_ci/*"
      "_site/*"
      "build/*"
      "demo/*"
      "dist/*"
      "docker/*"
      "gradle/*"
      "node_binaries/*"
      "node_modules/*"
      "node_shrinkwrap/*"
      "war_resources/*"
    ]
    projectHome: "~/Projects/"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    lineHeight: 2
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "git-history":
    showDiff: false
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
    ]
  "language-babel": {}
  linter:
    errorPanelHeight: 200
  "linter-sass-lint": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "sync-settings": {}
  term3: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
