packages: [
  "atom-beautify"
  "atom-ternjs"
  "double-tag"
  "editorconfig"
  "emmet"
  "git-status"
  "highlight-selected"
  "language-babel"
  "language-diff"
  "last-cursor-position"
  "linter"
  "linter-eslint"
  "minimap"
  "minimap-cursorline"
  "minimap-highlight-selected"
  "package-sync"
  "sort-lines"
  "split-diff"
]
