packages: [
  "atom-beautify"
  "autocomplete-semantic-web"
  "double-tag"
  "editorconfig"
  "emmet"
  "expand-region"
  "file-icons"
  "git-history"
  "git-status"
  "highlight-selected"
  "hyperclick"
  "js-hyperclick"
  "language-babel"
  "language-diff"
  "linter"
  "linter-eslint"
  "linter-stylelint"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-selection"
  "package-sync"
  "sort-lines"
  "split-diff"
  "synced-sidebar"
  "tabs-to-spaces"
]
