packages: [
  "atom-beautify"
  "cobalt2-syntax"
  "double-tag"
  "editorconfig"
  "emmet"
  "git-history"
  "git-status"
  "highlight-selected"
  "hyperclick"
  "js-hyperclick"
  "language-babel"
  "language-diff"
  "linter"
  "linter-eslint"
  "minimap"
  "minimap-cursorline"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "package-sync"
  "sort-lines"
  "split-diff"
]
